<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--     
   ps_email, ps_pwd, ps_phone, ps_name, ps_addr1, ps_addr2, 
    ps_addr3, ps_content, ps_regdate, ps_lat, ps_lng
  -->   
<mapper namespace="com.jhta.mybatis.PetSitterMapper">
	<!-- <select id="list" resultType="petsitter" parameterType="hashmap">
		select ps_email, ps_pwd, ps_phone, ps_name, ps_addr1, ps_addr2,
		ps_content, ps_regdate, ps_lat, ps_lng from petsitter
		where ps_lat between #{leftlat} and #{rightlat} and ps_lng between #{bottomlng} and #{toplng}
	</select> -->
	<select id="list" resultType="petsitter" parameterType="hashmap">
		select cc.ps_originalimg,cc.ps_saveimage,cc.ps_email, cc.ps_pwd, cc.ps_phone, cc.ps_name, cc.ps_addr1, cc.ps_addr2,
		cc.ps_content, cc.ps_regdate, cc.ps_lat, cc.ps_lng,cc.latlng from
			(select aa.ps_originalimg,aa.ps_saveimage,aa.ps_email ps_email, aa.ps_pwd ps_pwd, aa.ps_phone ps_phone, aa.ps_name ps_name, aa.ps_addr1 ps_addr1, aa.ps_addr2 ps_addr2,
			aa.ps_content ps_content, aa.ps_regdate ps_regdate, aa.ps_lat ps_lat, aa.ps_lng ps_lng,bb.latlng latlng from petsitter aa,
	        (select ps_email, latlng from(        
	            (select lat.ps_email ps_email ,(lat+lng) latlng from 
	                (select ps_email, ABS(ps_lat-#{lat}) lat from petsitter) lat,  
	                (select ps_email, ABS(ps_lng-#{lng}) lng from petsitter) lng
	                where lat.ps_email = lng.ps_email
	                )
	        )) bb
			where aa.ps_email=bb.ps_email
			order by latlng asc) cc
		where <![CDATA[rownum <=10]]>
	</select>    
</mapper>

