<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.PetSitterImageMapper">
    <update id="insert" parameterType="petsitterimage">
    	update petsitterimage set pimg_savefilename=#{pimg_savefilename},pimg_orgfilename=#{pimg_orgfilename} 
    	where ps_email=#{ps_email} and pimg_num=#{pimg_num}
    </update>
    <select id="getImg" parameterType="string" resultType="petsitterimage">
		select * from petsitterimage where ps_email=#{value}
	</select>
</mapper>