<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.jhta.mybatis.PetsitterPriceMapper">
	<select id="select" parameterType="string" resultType="petsitterprice">
		select * from petsitterprice where ps_email=#{value}
	</select>
	<update id="updatePrice" parameterType="petsitterprice">
		update petsitterprice set ps_price=#{ps_price},ps_careprice=#{ps_careprice},ps_overprice=#{ps_overprice}
		where ps_email=#{ps_email}
	</update>
</mapper>