<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.QnaMapper">

	<select id = "qnalist" resultType = "qnavo">
		select * from qna
	</select>
	<insert id = "qnainsert" parameterType = "qnavo">
		insert into qna values(SEQ_QNA_QNUM.NEXTVAL, #{title}, #{content}, sysdate, 0, 0, 0, 0, 0)
	</insert>





	<sql id="search">
		<if test="field!=null and field!=''">
		    where ${field} like '%' ||#{keyword} ||'%'
		</if>
	</sql>
	<!-- 전체글의 갯수 -->
	<select id="count" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt from qna
		<include refid="search"/>
	</select>
	<select id="list" parameterType="hashmap" resultType="qnavo">
	  select * from
	  (
		  select aa.*,rownum rnum from
		  (
		    select * from qna 
		    <include refid="search"/>
		    order by qnum desc
		  )aa
	  )
	 <![CDATA[ where  rnum>=#{startRow} and rnum<=#{endRow}  ]]> 
	</select>
	<!-- 이전글 -->
	<select id="prev" parameterType="int" resultType="qnavo">
	  select * from
		(
		  select * from qna <![CDATA[ where qnum<#{qnum} order by qnum desc ]]>
		)
	   where rownum=1
	</select>
	<!-- 다음글 -->
	<select id="next" parameterType="int" resultType="qnavo">
	  select * from
		(
		  select * from qna <![CDATA[ where qnum>#{qnum} order by qnum asc ]]>
		)
	   where rownum=1
	</select>




</mapper>